@import "_reset";

body {
  background-color: $colorGray;
  color: $colorWhite;
}

// PCのみ表示させる
@media #{map-get($breakpoints, pc)} {
  .onlySP {
    display: none !important;
  }
}
// SPのみ表示させる
@media #{map-get($breakpoints, sp)} {
  .onlyPC {
    display: none !important;
  }
}
